{% extends 'master.html' %}

{% block content %}
<h4 style="margin-bottom: 1%;">Create Lesson</h4>
{% load crispy_forms_tags %}
<form action="{%url 'createLesson'%}" method='get' style="margin-bottom: 2%";>
	<div class="form-group"> 
	<select name="course" class="textinput textInput form-control">
		{%for course in courses%}
		<option value="{{course.id}}">{{course.title}}</option>
		{%endfor%}
	</select>
</div>
	<input type="submit" name="Select" value="Select" class="btn btn-secondary">
</form>
<form enctype="multipart/form-data" action="{%url 'createLesson'%}" method='post'>
	  {% csrf_token %}
	  <label>Course</label>
	  <input type="text" value="{{course.title}}" class="textinput textInput form-control" disabled>
	  
	  <input type="hidden" name="cid" value="{{course.id}}">
	  {{ form|crispy }}
	  <input type="submit" name="Add" value="Add" class="btn btn-primary">
</form>
{%endblock%}