{% extends 'master.html' %}

{% block content %}
<h4 style="margin-bottom: 1%;">Delete Course</h4>
<form action="{%url 'deleteCourse'%}" method="post" name="courseselection">
	  {% csrf_token %}
	<div class="form-group">   
	<select name="course" class="textinput textInput form-control">
		{%for course in courseslist%}
			<option value="{{course.id}}">{{course}}</option>
		{%endfor%}
	</select>
</div>
	
	<input type="submit" name="Delete" value="Delete" class="btn btn-primary">
	
	
</form>
{%endblock%}