{% extends 'master.html' %}

{% block content %}
<h4 style="margin-bottom: 1%;">Lessons</h4>
<form action="{%url 'lessons'%}" method='get'>
	<select name="course" class="textinput textInput form-control">
		{%for course in courses%}
		<option value="{{course.id}}">{{course.title}}</option>
		{%endfor%}
	</select>
	<input type="submit" name="Find" value="Find" class="btn btn-primary">
</form>

{%for lesson in lessons%}
<br>
{{lesson.lessonname}}

<a href="{%url 'updateLesson' lesson.id %}">Update</a>
<a href="{%url 'deleteLesson' lesson.id %}">Delete</a>


{%endfor%}
{%endblock%}
