{% extends 'master.html' %}

{% block content %}

<h4 >Update Course</h4>
 {% load crispy_forms_tags %}
<form style="margin-bottom: 1%" action="{%url 'updateCourse'%}" method="get" >
	<div class="form-group"> 
	<select name="course" class="textinput textInput form-control">
		{%for course in courseslist%}
			<option value="{{course.id}}">{{course}}</option>
		{%endfor%}
	</select>
</div>
	
<input type="submit" name="Course" value="Select" class="btn btn-secondary">
	
	
</form>

<form action="{%url 'updateCourse'%}" method="post">
    {% csrf_token %}
    
    
    <input type="hidden" name="courseid" value="{{id}}">
    
    
    {{ form|crispy }}
    <input type="submit" value="Submit" name="Update" class="btn btn-primary">
</form>
{%endblock%}


